.margin {
    margin: 5px 10px 5px 10px;
  }
.basic-flex {
    display: flex;
}
.button.liveswitch {
    height: 40px;
    width: 40px;
    color: white;
    background-color: rgba(3,1,28,.8);
    font-size: 24px;
}
.row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.col {
    display: flex;
    align-content: center;
}
.header {
    color: white;
    width: fit-content;
}
.empty-video {
    background-color: black;
    border-radius: 15px;
}
.settings-menu {
    width: 400px;
    background-color: ghostwhite;
    border-radius: 5px;
    padding: 10px;
}
.settings-menu-in-call {
    margin: 10px;
    background-color: ghostwhite;
    border-radius: 5px;
    padding: 10px;
}
div.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
button.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
.logo {
    height: 67px;
    margin: 25px;
}
i.center {
    margin-left: -7px;
}
.input.liveswitch {
    flex-grow: 0;
    width: 290px;
}
.fm-video {
    width: 640px;
    height: 480px;
}
.start-broadcast-button.liveswitch {
    color: white;
    background-color: blue;
}
.watch-broadcast-button.liveswitch {
    color: white;
    background-color: blue;
}
div.row {
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
}
.relative {
    position: relative;
}
.row-center {
    display: flex;
    margin: 5px 0px;
}
.video {
    margin: 5px
}
.logo-in-call {
    height: 70px;
    margin: 0px;
}
.video-grid {
    display: flex;
    width: 100%;
    height: calc(100% - 200px);
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.chat-input.liveswitch {
    flex-grow: 0;
    width: 280px;
}
.container {
    display: flex;
    height: 100%;
}
.left-column {
    width: calc(100% - 400px);
}
.right-column {
    width: 400px;
    padding-top: 125px;
}
.flex-center {
    display: flex;
    justify-content: center;
}
.row-spread {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}
.user-counter {
    color: white;
    font-size: 24px;
}
.users {
    color: white;
    font-size: 28px;
}
.leave-button.liveswitch {
    background-color: red;
    color: white;
}
.chat-container {
    background-color: ghostwhite;
    border-radius: 5px;
    margin: 10px;
    height: 60%;
    position: relative;
    top: 20px;
}
.chat-header {
    border-bottom: 2px solid black;
}
.chat-footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    position: absolute;
    bottom: 0;
}
.chat-button.liveswitch {
    float: right;
    color: white;
    background-color: blue;
    position: absolute;
    bottom: 5px;
    right: 5px
}
.chat-message {
    margin: 5px;
    border-radius: 5px;
    padding: 3px;
    width: fit-content;
    color: white;
}
.my-chat {
    background-color: rgb(0, 157, 255);
    margin-left: auto;
}
.other-chat {
    background-color: rgb(64, 156, 64);
}
.activeTab {
    font-weight: bold;
}
.column {
    display: flex;
    flex-flow: column wrap;
}
.spread {
    display: flex;
    justify-content: space-between;
}
.icon.liveswitch {
    color: white;
    background-color: #323b4b;
    font-size: 24px;
}
.even-spacing {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}
.align-left {
    margin-right: auto;
}
.align-right {
   margin-left: auto;
}
span.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
button.center {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    margin-top: 5px;
    margin-bottom: 5px;
}
.video-margin {
    margin: 0px 5px;
}
.video-controls {
    position: absolute;
    bottom: 0;
    border-radius: 0 0 15px 15px;
    height: 100%;
    z-index: 100;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}
.video-wrapper {
    border-radius: 5px;
    position: relative;
}
.video-overlay {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15%;
    border-radius: 0 0 15px 15px;
    max-height: 60px;
}
.icon-player {
    color: white;
    font-size: 40px;
}
.pin-switch {
    flex-grow: 0;
}
div.fm-video {
    width: 100% !important;
    height: 100% !important;
}
video {
    object-fit: cover !important;
    border-radius: 15px;
}
.chat-body {
    height: 395px;
    overflow: scroll;
}
.channel-label, .mediaid-label {
    color: white;
    margin-top: 10px;
    font-size: 18px;
}
 @media (orientation: portrait) and (max-height: 1279px){
    .row.liveswitch {
        margin: 0px;
    }
    .header {
        color: white;
        width: fit-content;
        float: left;
    }
    .column {
        display: flex;
        flex-flow: column wrap;
        width: 100%;
    }
    .settings-menu {
        background-color: ghostwhite;
        border-radius: 5px;
        margin: 10px;
        width: 90%;
        padding: 5px 10px;
        display: flex;
        flex-direction: column;
    }
    .button {
        color: white;
        background-color: rgba(3,1,28,.8);
        font-size: 24px;
        height: 36px !important;
        width: 36px !important;
        margin-top: 20px;
        margin-bottom: 0px;
    }
    .logo {
        height: 40px;
        margin: 5px 0px;
    }
    .input.liveswitch {
        flex-grow: 0;
        width: 210px;
    }
    .join-button.liveswitch {
        color: white;
        background-color: blue;
    }
    .col {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }
    .row {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        height: 56px;
    }
    .logo-in-call.liveswitch {
        height: 40px;
        margin: 10px 10px 0px 10px;
        flex-grow: 0;
    }
    .row-in-call {
        display: flex;
        flex-flow: row wrap;
    }
    .settings-menu-in-call {
        min-width: 300px;
        margin: 5px;
    }
    .input-in-call {
        width:275px;
        flex: 0 1 auto;
    }
    .users-container {
        color: white;
        font-size: 24px;
    }
    .button-wrapper {
        display: flex;
        flex-flow: row wrap;
        align-content: center;
    }
    .leave-button {
        margin-left: auto;
        background-color: red;
        color: white;
    }
    .tab-container {
        display: flex;
        flex-flow: column wrap;
        align-content: center;
    }
    .video-container {
        display: flex;
        margin: 5px;
        flex-direction: column;
    }
    .controls-container {
        display: flex;
        justify-content: space-between;
        position: absolute;
        bottom: 60px;
        width: 90%
    }
    .active-button.liveswitch {
        color: white;
        background-color: rgba(3,1,28,.8);
        font-size: 20px;
        height: 36px;
        width: 36px;
    }
    .inactive-button.liveswitch {
        color: grey;
        background-color: rgba(3,1,28,.8);
        font-size: 20px;
        height: 36px;
        width: 36px;
    }
    .row-center {
        display: flex;
        justify-content: center;
        width: fit-content;
    }
    .chat-container {
        height: 500px;
        background-color: white;
        margin-bottom: 20px;
        border-radius: 5px;
        margin-right: 3px;
        margin-left: 3px;
        width: 90%;
    }
    .chat-header {
        border-bottom: 3px solid black;
        display: flex;
        justify-content: center;
    }
    .chat-body {
        height: 400px;
        overflow: scroll;
    }
    .chat-footer {
        display: flex;
        position: relative;
        flex-direction: row;
        width: 100%;
    }
    .chat-input.liveswitch {
        width: 230px;
        flex: 0 1 auto;
    }
    .tab-buttons {
        display: flex;
        position: absolute;
        bottom: 5px;
        width: 100%;
    }
    .tabs {
        width: 100%;
        background-color: white;
    }
    button.display-label {
        height: 80% !important;
        border-radius: 15px;
        margin-right: 10px;
        max-width: 110px;
    }
    .channel-label,.mediaid-label {
        display: flex;
        justify-content: center;
        color: white;
        font-size: 16px;
        margin: 0px;
    }
    .spread {
        display: flex;
        justify-content: space-between;
        margin-top: 0px;
    }
    .row.join-row {
        margin: 0px;
    }
} 

@media (orientation: landscape) and (max-width: 1279px) {
    .row-center {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .start-broadcast-button.liveswitch {
        color: white;
        background-color: blue;
        height: 30px;
    }
    .watch-broadcast-button.liveswitch {     
        color: white;
        background-color: blue;
        height: 30px;
    }
    .input.liveswitch {
        flex-grow: 0;
        width:225px;
    }
    .logo {
        width: 185px;
        height: 40px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: auto;
        flex-grow: 0 !important;
    }
    .button {
        color: white;
        background-color: rgba(3,1,28,.8);
        font-size: 24px;
        height: 36px !important;
        width: 36px !important;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .settings-menu {
        background-color: ghostwhite;
        border-radius: 5px;
        margin: 10px;
        width: 310px;
        display: flex;
        flex-flow: column wrap;
        padding: 5px 10px;
    }
    .header {
        color: white;
        position: absolute;
        bottom: 0;
    }
    .row.liveswitch {
        display: flex;
        flex-flow: row;
        margin: 0px;
    }
    .margin {
        margin: 5px;
    }
    .logo-in-call.liveswitch {
        height: 40px;
        flex-grow: 0;
    }
    .container {
        display: flex;
        margin: 10px;
    }
    .tab-container {
        width: 600px;
        height: 340px;
        position: relative;
    }
    .video-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 10px 10px 0px 10px;
    }
    .chat-container {
        width: 600px;
        height: 300px;
        background-color: ghostwhite;
        border-radius: 5px;
        margin-right: 10px;
    }
    .controls-container {
        display: flex;
        flex-direction: row;
        position: absolute;
        width: 98%;
        justify-content: space-between;
    }
    .active-button.liveswitch {
        color: white;
        background-color: rgba(3,1,28,.8);
        font-size: 28px;
        height: 40px;
        width: 40px;
    }
    .inactive-button.liveswitch {
        color: grey;
        background-color: rgba(3,1,28,.8);
        font-size: 28px;
        height: 40px;
        width: 40px;
    }
    .chat-body {
        height: 200px;
        overflow: scroll;
    }
    .chat-input {
        margin-left: 10px;
        margin-right: 5px;
        position: absolute;
        bottom: 5px;
        left: 5px;
    }
    .chat-button {
        margin: 5px;
    }
    .right-column {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-content: center;
        width: auto;
        padding: 0px;
        height: 95%
    }
    .users-container {
        float: left;
        color: white;
        font-size: 24px;
    }
    .icon.liveswitch {
        color: white;
        background-color: #323b4b;
        font-size: 28px;
    }
    .settings-menu-in-call {
        min-width: 300px;
        margin: 5px;
    }
    .input-in-call.liveswitch {
        width: 275px;
        flex: 0 1 auto;
    }
    .leave-button.liveswitch {
        color: white;
        background-color: red;
        margin-bottom: 20px;
    }
    button.display-label {
        height: 80% !important;
        border-radius: 15px;
        margin-right: 10px;
        max-width: 80px;
    }
    .channel-label, .mediaid-label {
        display: flex;
        justify-content: center;
        color: white;
    }
}
@media (max-width: 1279px) or (max-height: 1279px) {
    .icon-player {
        color: white;
        font-size: 28px;
    }
    .pin-switch {
        flex-grow: 0;
        align-content: center;
    }
}